<h1>Welcome to Heaven Candles, <%= @user.name %>! 🕯️</h1>

<p>Thank you for creating an account. We're excited to have you!</p>

<p>Start exploring our handcrafted candles:</p>

<%= link_to "Shop Now", products_url %>

<p>The Heaven Candles Team</p>
